/*          BACKGROUNDS         */
.background {
    -fx-background-image: url("/resources/img/mainscreen/background.png");
}

.component-background {
    -fx-background-color: rgba(31, 34, 41, 20);
    -fx-text-fill: #fffbff;
}

/*          GLOBAL          */
.text {
    -fx-text-fill: #fffbff;
}

/*#3a4149*/
.normal-button {
    -fx-background-color: linear-gradient(rgba(31, 34, 41, 20), #2e313a);
    -fx-text-fill: #fffbff;
}

.normal-button:hover{
    -fx-background-color: linear-gradient(#2e313a, #3a4149);
    -fx-text-fill: #fffbff;
}

.text-box {
    -fx-background-color: rgba(31, 34, 41, 20);
    -fx-text-fill: white;
}

.text-box .label {
    -fx-text-fill: white;
}
.separatorT {
    -fx-background-color: black;
    -fx-fill: black;
}

/*          MENU            */
.menu-bar {
    -fx-background-color: linear-gradient( #2e3339 95%, rgba(31, 34, 41, 20) 5%);
}

.menu-bar .label {
    -fx-text-fill: #fffbff;
}

.menu-item .label {
    -fx-text-fill: #fffbff;
}

.menu-item:focused {
    -fx-background-color:  rgba(31, 34, 41, 20);
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-image: url("/resources/img/mainscreen/background.png");
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/*          LEFT-SIDEBAR            */
.tab{

    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-image: url("/resources/img/mainscreen/background.png");
}

.tab .tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:rgba(31, 34, 41, 20);
    -fx-border-color: #a3a7a8;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-pref-height: 45px;
}

.radio-button .radio {
    -fx-background-color: #3a4149;
}

.radio-button .text {
    -fx-text-fill: #fffbff;
}

.sidebar-reportbutton {
    -fx-background-color: linear-gradient(#69a55b, darkslategray);
    -fx-text-fill: #fffbff;
    -fx-font-weight: bold;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-border-radius: 5,4,3,5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

.sidebar-reportbutton:hover {
    -fx-background-color: linear-gradient(darkslategray, #69a55b);
}

/*          CONTENT         */
.text-flow {
    -fx-background-color: rgba(31, 34, 41, 20);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.text-flow .text {
    -fx-text-fill: #fffbff;
}

.scroll-pane {
    -fx-text-fill: #fffbff;
}




